html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #f3f4f6;
}

.app-root {
  min-height: 100vh;
  background: #f3f4f6;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  /* กันเนื้อหาไม่ให้ชน TitleBar custom */
  padding-top: 42px;
}

/* global background for whole app */
.app-bg {
  min-height: 100vh;
  width: 100%;
  background: radial-gradient(
    circle at top,
    #e0f2fe 0%,
    #f9fafb 45%,
    #eef2ff 100%
  );
}
/* Center error page vertically and horizontally */
.error-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 24px;
}
