html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #f3f4f6;
}

.app-root {
  min-height: 100vh;
  background: #f3f4f6;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  /* กันเนื้อหาไม่ให้ชน TitleBar custom */
  padding-top: 42px;
}
